name: Deploy Docs

concurrency:
    group: "pages"
    cancel-in-progress: true

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write


env:
    VITE_TBA_API_KEY: ${{ secrets.VITE_TBA_API_KEY }}

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "16"
                  cache: "yarn"

            - run: yarn install --frozen-lockfile

            - run: yarn build

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v1
              with:
                  # Upload entire dist folder
                  path: ./dist

    deploy:
        name: Deploy
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v1
